@use "./sass/_variables";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&display=swap");

@import "./sass/dropdowns.scss";
@import "./sass/modal.scss";
@import "./sass/navbar.scss";
@import "./sass/react-select.scss";
@import "./sass/datepicker.scss";
html,
body,
#root,
.root-layer {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Nunito", sans-serif;
    font-weight: variables.$font-normal;
    font-size: variables.$font-size-normal;
    background-color: variables.$color-white;
    color: variables.$color-secondary;
}
html {
    // font-size: 4px;
    font-size: 0.208333333333vw;
}
a,
input,
button {
    font-family: "Nunito", sans-serif;
    font-size: variables.$font-size-normal;
}

.root-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: auto;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    > * {
        pointer-events: all;
    }
}
#layer1 {
    z-index: 1;
    pointer-events: all;
}
#layer2 {
    z-index: 2;
}
#layer3 {
    z-index: 3;
}

button {
    cursor: pointer;
    border-radius: 1rem;
    padding: 2rem 4rem;
    background-color: variables.$color-primary;
    color: variables.$color-white;
    font-weight: variables.$font-bold;
    font-size: variables.$font-size-big;
    outline: none;
    border: none;
    transition: background-color 220ms;

    &:hover {
        background-color: variables.$color-secondary-light;
    }
    &.button-jumbo {
        padding: 4rem 8rem;
    }
    &[disabled] {
        pointer-events: none;
        background-color: variables.$color-secondary-lightest;
    }
}

a {
    text-decoration: none;
    transition: color 220ms;
    &.active {
        font-weight: variables.$font-bold;
    }
    &:link {
        color: variables.$color-secondary;
    }
    &:visited {
        color: variables.$color-secondary;
    }
    &:hover {
        color: variables.$color-secondary-light;
    }
    &:active {
        color: variables.$color-secondary;
    }
    &.button {
        cursor: pointer;
        border-radius: 1rem;
        padding: 2rem 4rem;
        background-color: variables.$color-primary;
        color: variables.$color-white;
        font-weight: variables.$font-bold;
        font-size: variables.$font-size-big;
        outline: none;
        border: none;
        transition: background-color 220ms;
        &:hover {
            background-color: variables.$color-secondary-light;
        }
        &.button-jumbo {
            padding: 4rem 8rem;
        }
        &[disabled] {
            pointer-events: none;
            background-color: variables.$color-secondary-lightest;
        }
    }
}

.span-button {
    cursor: pointer;
    border-radius: 1rem;
    padding: 2rem 4rem;
    background-color: variables.$color-white;
    color: variables.$color-secondary;
    font-weight: variables.$font-bold;
    font-size: variables.$font-size-big;
    outline: none;
    border: none;
    transition: background-color 220ms;
    &:hover {
        background-color: variables.$color-white-dark;
    }
    &.button-jumbo {
        padding: 4rem 8rem;
    }
    &[disabled] {
        pointer-events: none;
        background-color: variables.$color-secondary-lightest;
    }
}

h1 {
    font-size: 16rem;
    font-weight: variables.$font-normal;
}
h2 {
    font-size: 12rem;
    font-weight: variables.$font-normal;
}
h3 {
    font-size: 9rem;
    font-weight: variables.$font-normal;
}
p {
    font-size: 6rem;
    font-weight: variables.$font-normal;
}

.fw-bold {
    font-weight: variables.$font-bold;
}
.fw-normal {
    font-weight: variables.$font-normal;
}
.fs-small {
    font-size: variables.$font-size-small;
}
.fs-jumbo {
    font-size: variables.$font-size-jumbo;
}
.fs-big {
    font-size: variables.$font-size-big;
}
.fs-bigger {
    font-size: variables.$font-size-bigger;
}
.fs-normal {
    font-size: variables.$font-size-normal;
}
.fc-normal {
    color: variables.$color-secondary;
}
.fc-light {
    color: variables.$color-secondary-light;
}
.fc-primary {
    color: variables.$color-primary;
}
.fc-secondary-light {
    color: variables.$color-secondary-light;
}

.divider {
    height: 0.25rem;
    margin: 4rem 1rem;
    background-color: variables.$color-secondary-lightest;
}

table {
    border-spacing: 0;
    text-align: left;

    td {
        vertical-align: middle;
        padding: 2rem 0;
    }
    th {
        color: variables.$color-secondary-light;
    }
}

.pill-container {
    // display: flex;
    // gap: 2rem;
    // justify-content: flex-start;
}
.pill {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 4rem;
    background-color: variables.$color-primary-lightest;
    margin-right: 1rem;
    margin: 1rem;
}

.error {
    font-size: variables.$font-size-small;
    color: variables.$color-error;
}

.cursor-pointer {
    cursor: pointer;
}

.input-wrapper {
    position: relative;
    margin: 6rem 0 1rem 0;
    > label {
        pointer-events: none;
        position: absolute;
        top: 2rem;
        left: 2rem;
        opacity: 1;
        color: variables.$color-secondary-light;
        font-size: variables.$font-size-normal;
        transition: color 220ms, font-size 220ms, top 220ms;
        user-select: none;
    }
    > input {
        width: 100%;
        box-sizing: border-box;
        border: solid #0000 0.25rem;
        outline: none;
        padding: 2rem;
        background-color: variables.$color-white-dark;
        border-radius: 1rem;
        transition: border 220ms;
        &:focus,
        &:active {
            border: solid variables.$color-primary 0.25rem;
        }
        &:focus,
        &:active,
        &:valid {
            & + label {
                color: variables.$color-secondary-lightest;
                font-size: variables.$font-size-small;
                top: -4rem;
            }
        }
        &.has-error {
            border: solid variables.$color-error 0.25rem;
        }
    }
    > .error {
        margin-top: 1rem;
    }
}

.textarea-wrapper {
    position: relative;
    margin: 6rem 0 1rem 0;
    > label {
        pointer-events: none;
        position: absolute;
        top: 2rem;
        left: 2rem;
        opacity: 1;
        color: variables.$color-secondary-light;
        font-size: variables.$font-size-normal;
        transition: color 220ms, font-size 220ms, top 220ms;
        user-select: none;
    }
    > textarea {
        font-family: "Nunito", sans-serif;
        font-weight: variables.$font-normal;
        font-size: variables.$font-size-normal;
        color: variables.$color-secondary;
        max-width: 100%;
        min-width: 100%;
        box-sizing: border-box;
        border: solid #0000 0.25rem;
        outline: none;
        padding: 2rem;
        background-color: variables.$color-white-dark;
        border-radius: 1rem;
        transition: border 220ms;
        &:focus,
        &:active {
            border: solid variables.$color-primary 0.25rem;
        }
        &:focus,
        &:active,
        &:valid {
            & + label {
                color: variables.$color-secondary-lightest;
                font-size: variables.$font-size-small;
                top: -4rem;
            }
        }
        &.has-error {
            border: solid variables.$color-error 0.25rem;
        }
    }
    > .error {
        margin-top: 1rem;
    }
}

.radio-group-wrapper {
    position: relative;
    margin: 6rem 0 1rem 0;
    > label {
        pointer-events: none;
        position: absolute;
        left: 2rem;
        opacity: 1;
        transition: color 220ms, font-size 220ms, top 220ms;
        user-select: none;
        color: variables.$color-secondary-lightest;
        font-size: variables.$font-size-small;
        top: -4rem;
    }
    > .radio-group-inner {
        font-family: "Nunito", sans-serif;
        font-weight: variables.$font-normal;
        font-size: variables.$font-size-normal;
        color: variables.$color-secondary;
        max-width: 100%;
        min-width: 100%;
        box-sizing: border-box;
        border: solid variables.$color-primary-lightest 0.25rem;
        outline: none;
        padding: 2rem;
        // background-color: variables.$color-white-dark;
        border-radius: 1rem;
        transition: border 220ms;
        display: flex;
        gap: 2rem;
        &.has-error {
            border: solid variables.$color-error 0.25rem;
        }
        > .radio label {
            height: 6rem;
            display: flex;
            align-items: center;
            cursor: pointer;
            user-select: none;
        }
    }
    input {
        appearance: none;
        height: 6rem;
        width: 6rem;
        border-radius: 1rem;
        transition: all 0.15s ease-out 0s;
        background: variables.$color-white-dark;
        border: none;
        cursor: pointer;
        display: inline-block;
        margin: 0;
        margin-right: 1rem;
        outline: none;

        &:hover {
            background-color: variables.$color-primary-lightest;
        }
        &::before {
            height: 6rem;
            width: 6rem;
        }
        &:checked::before {
            position: absolute;
            content: "X";
            display: inline-block;
            font-size: 4.5rem;
            font-weight: 800;
            text-align: center;
        }
    }

    > .error {
        margin-top: 1rem;
    }
}

.react-select__multi-value {
    border-radius: 1rem !important;
    background-color: variables.$color-primary-lightest !important;
    .react-select__multi-value__label {
        font-size: 100% !important;
    }
}

.react-calendar {
    margin-top: 1rem;
    border-radius: 2rem;
    border: thin solid variables.$color-primary-lightest !important;
    filter: drop-shadow(0 1rem 0.75rem rgba(0, 0, 0, 0.13));
}

form .form-group {
    display: flex;
    gap: 2rem;
    > * {
        flex-grow: 1;
    }
}

.input-number-wrapper {
    position: relative;
    margin: 6rem 0 1rem 0;
    > label {
        pointer-events: none;
        position: absolute;
        left: 2rem;
        opacity: 1;
        color: variables.$color-secondary-lightest;
        font-size: variables.$font-size-small;
        top: -4rem;
        user-select: none;
    }
    input {
        width: 100%;
        box-sizing: border-box;
        border: solid #0000 0.25rem;
        outline: none;
        padding: 2rem;
        background-color: variables.$color-white-dark;
    }
    .rc-input-number {
        border-radius: 1rem;
        transition: border 220ms;
        overflow: hidden;
        &.has-error {
            border: solid variables.$color-error thin;
        }
    }
    > .error {
        margin-top: 1rem;
    }
}
