$font-size-small: 3rem;
$font-size-normal: calc(14rem / 4);
$font-size-big: calc(18rem / 4);
$font-size-bigger: 6rem;
$font-size-jumbo: 9rem;
$font-bold: 800;
$font-normal: 600;

$color-error: #d74037;
$color-primary: #2256d7;
$color-primary-light: #6c93ec;
$color-primary-lightest: #b5cbff;
$color-secondary: #252253;
$color-secondary-light: #4e4a73;
$color-secondary-lightest: #8885aa;
$color-white: #f0f4fc;
$color-white-dark: #dbe4f5;
